<!DOCTYPE html>
<html>
<head>
 <title>Welcome to Sage's Blog</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am Benson. Welcome to my blog!</h1>

<!-- Blog Post -->
 <h2>My First Blog Post</h2>
 <p>Here is my first blog post. Basketball is a very good sport that can pravtice both of our physical strength and also our mental srength! Everyone should go and try it and enjoy the sport!!!</p>
  <p><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522391925643&di=909eb88e7873435df3448babf3009af2&imgtype=0&src=http%3A%2F%2Fimg5.niutuku.com%2Fphone%2F1301%2F1101%2F1101-niutuku.com-188839.jpg"></p>
  <p>This is one of my favorite basketball player--Kobe Bryant. He had already won 5 chamions!</p>
<!-- Like And Comment -->
 <button>Like</button>
 <h2>Leave a Comment</h2>
 <form>
 <textarea placeholder="Please Enter Your Comment"></textarea>
 <input type="submit" value="Post Me!">
 </form>

</body>
</html>